* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #ff8080;
    --white: #e8e8e8;
    --pewter: #fafafa;
    --blue: #4b9cda;
    --font: 'Roboto Condensed', sans-serif;
}

.header {
    background-color: var(--red);
    color: black;
    font-family: var(--font);
    width: auto;
    position: sticky;
    padding: 3px;
    font-weight: 700;
}

.header a {
    text-decoration: none;
    color: #7b2121;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.header a:hover {
    text-decoration: none;
    color: var(--white);
}

.wrapper1 {
    display: grid;
    width: 60vw;
    grid-row-gap: 1em;
    justify-content: center;
    margin: 20vh 0 0 0;
}

.row1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50vw;
}


.row1 h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font);
    color: var(--blue);
}


.row2 {
    display: flex;
    width: 50vw;
    font-family: var(--font);
    padding: 5px 0 5px 0;
}



.row2 input {
    height: 25px;
    min-width: 10vw;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    resize: none;
    font-family: var(--font);
    font-weight: 600;
    text-transform: capitalize;
}

.row2 input #name {
    color: blue;
}

.row2 form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}

.row2 div {
    margin: 0 10px 0 0;
}

.row2 button {
    width: 7em;
    height: 2em;
    font-family: var(--font);
    font-weight: 600;
    border: transparent;
    border-radius: 3px;
    background-color: var(--blue);
    color: var(--pewter);
}


.row3 {
    display: flex;
    margin: 30px 0 0 0;
}

.wrapper1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper2 {
    display: grid;
    grid-gap: 10px;
    width: 50vw;
    grid-template-columns: repeat(4, 1fr);
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10vw;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 0 0;
    font-family: var(--font);
    font-weight: 600;
    box-shadow: 0px 0px 1px 1px rgba(219, 219, 219, 1);
}

.boxes p {
    font-size: 15px;
    text-align: center;
}

.boxes h4 {
    font-size: larger;
    color: var(--red);
    text-align: center;
}

.boxes * {
    margin: 5px;
    text-transform: capitalize;
}


.boxes button {
    font-family: var(--font);
    font-weight: 600;
    background-color: var(--white);
    text-decoration: none;
    border: transparent;
    border-radius: 5px;
    padding: 3px;
    transition: 0.6s;
    color: black;
}

.boxes button:hover {
    background-color: #ff8080;
}

@media screen and (max-width: 1200px) {

    .wrapper2 {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media screen and (max-width: 1012px) {

    .wrapper2 {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 600px) {
    
    .row1 {
        display: flex;
        justify-content: center;
        align-content: center;
    }


    .row1 h1 {
        font-size: 5vh;
    }

    .row2 form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: larger;
    }

    .wrapper1 {
        justify-content: center;
        margin: 10px;
        margin: 30vh 0 0 0;
    }

    .wrapper2 {
        display: grid;
        grid-gap: 10px;
        width: 50vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .row2 button {
        font-size: medium;
    }

}


@media screen and (max-width: 420px) {

    .row1 {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
    }

    .row2 input {
        width: 50vw;
    }
}
